#title-container {
    display: flex;
    justify-content: center;
    top: 0;
    background: rgb(51,139,185);
    background: linear-gradient(90deg, rgba(51,139,185,1) 0%, rgba(27,16,133,1) 100%);
}

#title {
    font-size: 50px;
    color: #FFFF;  
}

/* Container that uses flexbox to adjust the left and right content accordinly */ 
.container-main {
    display: flex;
    justify-content: space-around;
}

.border {
    margin-bottom: 15px;
    border: solid 1px lightgray;
    width: 100%;
}

.search-container {
    width: 400px;
}

.left-content {
    margin: 15px;
}

#submit-btn {
    margin: 15px 0px 15px 0px;
    width: 100%;
}

/* Start of center content */ 

.center-content {
    border: solid 2px black;
    border-radius: 10px;
    height: 150px;
    width: 1200px;
    margin: 15px;
    margin-right: 100px;
}

/* Start of Footer content */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 80px;
    background: rgb(51,139,185);
    background: linear-gradient(90deg, rgba(51,139,185,1) 0%, rgba(27,16,133,1) 100%);
}

.footer-content {
    font-size: 30px;
}

/* Start of Media Queries */ 
/* @media (min-width: 320px) and (max-width: 480px) {
    .main
}     */