/* Test */ 
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Test */

#title-container {
    display: flex;
    justify-content: center;
    top: 0;
    background: rgb(51,139,185);
    background: linear-gradient(90deg, rgba(51,139,185,1) 0%, rgba(27,16,133,1) 100%);
}

#title {
    font-size: 50px;
    color: #FFFF;  
}

/* Container that uses flexbox to adjust the left and right content accordinly */ 
.container-main {
    display: flex;

}

.border {
    margin-bottom: 15px;
    border: solid 1px lightgray;
    width: 100%;
}

.search-container {
    width: 300px;
}

.left-content {
    margin: 15px;
}

button {
    margin: 15px 0px 15px 0px;
    width: 100%;
}

/* Start of center content */ 

.center-content {
    border: solid 2px black;
    border-radius: 10px;
    height: 250px;
    width: 75%;
    margin: 15px;
    margin-right: 100px;
}

.weather-container {
    width: 80%;

}

.weather-boxes {
    width:250px; 
    height:250px; 
    border: 2px solid black; 
    background-color: #023047;
    color: #ffff;
    margin: 10px;
    display: inline-block;
}

/* Start of Footer content */
footer {
    margin-top: auto;
    color: white;
    text-align: center;
    padding-top: 30px;
    height: 80px;
    background: rgb(51,139,185);
    background: linear-gradient(90deg, rgba(51,139,185,1) 0%, rgba(27,16,133,1) 100%);
}

.footer-content {
    font-size: 20px;
}


/* Start of Media Queries */ 
/* @media (min-width: 320px) and (max-width: 480px) {
    .main
}     